<div id="app"></div>

<% if (sails.config.environment === 'development') { %>
    <script src="http://localhost:8080/dist/bundle.js"></script>
<% } else { %>
    <script src="<%= bundle %>"></script>
<% } %>
